
@{
    ViewData["Title"] = "showCountBySession";
}

<h1>showCountBySession</h1>


<h1>showCountBySession</h1>
@using (Html.BeginForm())
{
    <h1>@ViewBag.COUNT</h1>
    <input type="submit" value="OK" />
}
